
<h2>Calisanlar</h2>
<hr style="border: 4px solid blue" />
<table class="table" >
    <tr>
        <th>
           Ad:
        </th>
        <th>
            Soyad:
        </th>
        <th>
            Pozisyon:
        </th>  

    </tr>
    @foreach (Employee item in Model)
    {
        <tr>
            
           
            <td>
                @Html.ActionLink("Profil", "Profil", "Home", null, new { @class = "btn btn-danger" }) &nbsp;
                @Html.ActionLink("Siparisler", "Siparisler", "Home", null, new { @class = "btn btn-primary" })
                @item.FirstName
                
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Title
            </td>
        </tr>
        
    }
</table>