<h2>Profil</h2>
<hr style="border: 4px solid green" />
<table class="table">
    <tr>
        <th>
            Ad:
        </th>
        <th>
            Soyad:
        </th>
        <th>
            Pozisyon:
        </th>
        <th>
            Dogum Tarihi:
        </th>
     
        <th>
            Adres:
        </th>
        <th>
            Telefon:
        </th>
    </tr>
    @foreach (Employee item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink("İletisim Guncelle", "EmployeeEdit", "Home", null, new { @class = "btn btn-warning" }) &nbsp;
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
             <td>
                @item.Title
            </td>
             <td>
                @item.BirthDate
            </td>
             <td>
               
                @item.Address
                
            </td>
             <td>
                @item.HomePhone
            </td>
            
        </tr>

    }
</table>